body {
  margin: 0;
  font-size: x-small;
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}

button {
  border: none;
  width: 50%;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  color: #111;
  background-color: #ccc;

  &#share {
    position: fixed;
    bottom: 0;
    right: 0;
    width: min-content;
    height: unset;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    transform-origin: 50% 50%;
    transform: rotate(45deg)translate(0.25rem,0.25rem);
    aspect-ratio: 1;
    border-radius: 50%;
  }

}


