article#content {
  display: grid;
  gap: 1rem;
  width: 90vw;
  > div {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.05);
  }


  p:has(a[href^="javascript"]) {
    outline: 0.2rem dashed hotpink;
    padding: 2rem;
    width: fit-content;
    font-weight: 400;
    font-size: 1.3rem;
  }


}