#java-tags {

  display: flex;
  background: #ccc;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

h2 + pre {
  padding: 1rem;
  background: #666;
  border: 1px solid #000;
  margin: 0 auto;
}