div.container-fluid
  div.row
    div.col-md-12
    h4 URL Compare
  div.row
    div.col-md-6[data-bind="with: url_1"]
      textarea.form-control[data-bind="textInput: url" rows="2"]
    div.col-md-6[data-bind="with: url_2"]
      textarea.form-control[data-bind="textInput: url" rows="2"]
  div.row
    table.table.table-bordered.table-condensed
      thead
        tr 
          th[colspan="4"] QueryString Parameters
        tr
          <!--th MasterKey-->
          th[width="25%"] Key1
          th[width="25%"] Value1
          th[width="25%"] Key2
          th[width="25%"] Value2
      tbody[data-bind="foreach: matrix"]
        tr[data-bind="css: {success: valuesEqual(), warning: keysBothPresent() && !valuesEqual() && !hasDoubleValue(), info: !valuesBothPresent(), danger: hasDoubleValue}"]
          <!-- td -->
          <!-- b.pull-right[data-bind="text: masterkey"] -->
          td[data-bind="text: key1"]
          td[data-bind="foreach: value1"]
            div
              b[data-bind="html: val"]
          td[data-bind="text: key2"]
          td[data-bind="foreach: value2"]
            div
              b[data-bind="html: val"]
        