php_value allow_url_fopen 1

Redirect /feedback/ http://artlung.com/feedback/
Redirect /lab/ http://lab.artlung.com/
Redirect /scripting/ http://lab.artlung.com/
Redirect /html/ http://lab.artlung.com/
Redirect /css/ http://lab.artlung.com/
Redirect /php/ http://lab.artlung.com/
Redirect /other/ http://lab.artlung.com/
Redirect /board http://lab.artlung.com/ArtLung-Notes/v2

Redirect /tip/ https://secure.paypal.com/cgi-bin/webscr?cmd=_xclick&business=joe@artlung.com&return=&item_name=Support%20ArtLung.com%27s%20The%20Lab%20with%20a%20tip%20donation%21

#Renamed direcrories:
Redirect permanent /bug_mac_netscape_forms_update      http://lab.artlung.com/bug-mac-netscape-forms-update
Redirect permanent /change_all_links                   http://lab.artlung.com/change-all-links
Redirect permanent /compare_fields                     http://lab.artlung.com/compare-fields
Redirect permanent /detection_real                     http://lab.artlung.com/detection-real
Redirect permanent /dropdown_focus                     http://lab.artlung.com/dropdown-focus
Redirect permanent /dropdown_frames                    http://lab.artlung.com/dropdown-frames
Redirect permanent /dropdown_submit_form               http://lab.artlung.com/dropdown-submit-form
Redirect permanent /echo_http_host                     http://lab.artlung.com/echo-http-host
Redirect permanent /format_time                        http://lab.artlung.com/format-time
Redirect permanent /frames_mouseover                   http://lab.artlung.com/frames-mouseover
Redirect permanent /image_border                       http://lab.artlung.com/image-border
Redirect permanent /interesting_date_layout            http://lab.artlung.com/interesting-date-layout
Redirect permanent /mouseover_vote                     http://lab.artlung.com/mouseover-vote
Redirect permanent /mouseover_vote100                  http://lab.artlung.com/mouseover-vote100
Redirect permanent /multiple_select                    http://lab.artlung.com/multiple-select
Redirect permanent /multiple_select_v2                 http://lab.artlung.com/multiple-select-v2
Redirect permanent /reverse_string_nums                http://lab.artlung.com/reverse-string-nums
Redirect permanent /self_refresh                       http://lab.artlung.com/self-refresh
Redirect permanent /slideshow_img                      http://lab.artlung.com/slideshow-img
Redirect permanent /validate_checkbox                  http://lab.artlung.com/validate-checkbox
Redirect permanent /validate_image                     http://lab.artlung.com/validate-image
Redirect permanent /windows_export_file_list           http://lab.artlung.com/windows-export-file-list
Redirect permanent /ws_ftp_password_decoder            http://lab.artlung.com/ws-ftp-password-decoder