div#content pre.src { padding: 10px; color: #333; background-color: #9fc; overflow: auto; border: 2px solid #6c9; }

div#header a, div#footer a, div#header span, div#footer span { background-color: #666; text-decoration: none; padding: 20px; text-transform: uppercase; font-weight: bold; text-decoration: none; display: inline-block; border-bottom: none; height: 3.5em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 1; transition: all 0.1s ease; }

div#content pre { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; color: #000; background-color: #cfc; box-shadow: 1em 1em 10em #9f9 inset; border: 1px solid darkgreen; overflow: auto; line-height: 1.1; }
div#content pre.src b { color: black; background-color: #cfc; }
div#content pre b { color: black; background-color: #cfc; }

div#header a:link, div#footer a:link { color: #ccc; }
div#header a:active, div#footer a:active { color: #f00; }
div#header a:visited, div#footer a:visited { color: #ccc; }
div#header a:hover, div#footer a:hover { color: #fff; border-bottom: 0.5em solid black; }

html { height: 100%; }

body { margin: 0; padding: 0; height: 100%; font-family: roboto, helvetica, "helvetica neue", sans-serif; background-color: #eee; }
body#e251273eb74a8ee3f661a7af00915af1 #content { line-height: 1.5; }
body#e251273eb74a8ee3f661a7af00915af1 #content ul { list-style-type: none; }

div#everything { height: 102%; }
div#header { background-color: #666; color: #fff; }
div#header a.twitter { background-image: url(http://www.gravatar.com/avatar/5d3c808b7f3776de188ecaf412aebf4b?s=96&d=identicon&r=PG); height: 3.5em; width: 3.5em; display: block; float: right; background-size: cover; }
div#content { background-color: #fff; min-height: 60%; padding: 0.5em 2em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
div#content h1 { color: #666; }
div#content h2 { color: #999; }
div#content p { color: #333; }
div#content a:hover { color: #00c; }
div.advertisement { background-color: #666; height: 90px; }
div#footer { background-color: #666; color: #fff; }
div#footer a.noborder { border: none; background-color: transparent; }
div#siteSearch { background-color: #666; border: 0.5em solid #666; }
div.fixed ol { font-family: courier, "courier new", fixed-width; }
div.fixed ol li { font-family: courier, "courier new", fixed-width; }

.html { color: #333; background-color: #cfc; }

.php { color: black; background-color: #6f6; font-weight: bold; }

.comment { color: black; background-color: #ff0; }

.fourHundredWide { width: 400px; }

dt { font-weight: bold; }

.spotlight { border-top: 1px dotted #c03; border-bottom: 1px dotted #c03; background-color: #fcc; font-size: large; }

#commentsArea { margin: 0; background: #666; padding: 2.5em; }

blockquote.src { background-color: #ccc; padding: 10px; }
