html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
section.quote-to-dl {
  display: grid;
  grid-template-rows: 40px 45vh 30px 45vh;
  margin: -0.5em -2em;
  height: 100%;
  gap: 0;
  textarea {
    padding: 1vw;
    background: #eee;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 3em;
    background: #efefef;
    padding: 0.75em;
  }
}
