#rtf-form {
  display: grid;
  gap: 0.5rem;
  background: lightcyan;
  border: 3px solid darkcyan;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100ch;
  margin: 0 auto;

  h2 {
    margin: 0;
  }
  > label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    margin: 1em 0;
    align-items: center;
    justify-content: start;
    > input {
      width: 100%;
    }
  }
  input, button {
    font-size: 1rem;
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  #rtf-form > label {
    grid-template-columns: 1fr;
  }
}