/* made by joe crawford in a fit of madness on january 18 2001 */
/* converted to SCSS on november  30 2024 */
#ourBox {
  background-color: #CCC;
  color: #CCC;
  position: absolute;
  height: 10px;
  width: 10px;
  left: 300px;
  top: 300px;
  line-height: 1px;
  font-size: 1px;
}

pre.ourControl {
  width: min-content;
  background: #eee;
  border: 3px solid #ccc;
  padding: 1rem;
  font-size: 1.5rem;

  * {
    font-size: 1.5rem;
  }

  a {
    color: blue;
    text-decoration: none;
    outline: none;
    background-color: transparent;

    &:link {
      color: blue;
      background-color: #FFF;
    }

    &:visited {
      color: blue;
      background-color: #FFF;
    }
  }
}

#ourControl {
  position: absolute;
  top: 0;
  left: 0
}

#warn {
  visibility: hidden;
  position: absolute;
}