[popovertarget="window-exe"][popovertargetaction="show"] {
  --size: 1.1;
  color: #000;
  border: none;
  box-sizing: border-box;
  height: 6.5lh;
  padding: 5lh 0 0 0;
  line-height: 1;
  font-size: calc(var(--size) * 1rem);
  text-wrap: nowrap;
  image-rendering: pixelated;
  justify-content: end;
  align-items: end;
  background: url("data:image/gif;base64,R0lGODlhIAAbAKIAAP//AMDAwP///wAAAICAgICAAP///wAAACH5BAUAAAYALAAAAAAgABsAAAN5aGrU7ivKGYm4GBPKpQUBKIbB1nEfOY7mWQVwLM9PXQ9Mpu88PwyplWooFBaAAqKyuDwGl1CmM8msRqfWrHIa7Rax3jCIqy2HwGYtWexFs63r9BUpVyPfbToefq/Pn35GfXtNeoFbQAWKi4yNjo+KOD+TlJWWl5MGCQA7")
  50% 0 / 5lh 5lh no-repeat;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: pointer;
  &::first-line {
    background: rgba(255,255,255,.5);
  }
}

#window-exe {
  --gradient-color-1: #02046a;
  --gradient-color-2: #2182bf;
  --title-color: #fff;
  --text-color: #282828;
  --window-color: #bfbfc1;
  max-width: 80ch;
  &:has(input[value="fullscreen"]:checked) {
    max-width: unset;
    width: 98vw;
    height: 98vh;
  }
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  border: 2px solid;
  border-color: var(--title-color) var(--text-color) var(--text-color)
  var(--title-color);
  background: var(--window-color);
  > section {
    background: linear-gradient(
                    90deg,
                    var(--gradient-color-1),
                    var(--gradient-color-2)
    );
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
      flex-grow: 1;
      padding: 0 0 0.1ch 0.5ch;
      color: var(--title-color);
    }
    form {
      font-size: 1rem;
      display: flex;
      gap: 0;
      > * {
        cursor: pointer;
        margin: 4px 2px;
        font-size: 1rem;
        border: 2px solid;
        border-color: var(--title-color) var(--text-color) var(--text-color)
        var(--title-color);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--window-color);
        max-width: 3ch;
        color: #0000;
        overflow: hidden;
        &:has(input:checked) {
          cursor: not-allowed;
        }
        &:has(input[value="normal"]) {
          background: linear-gradient(
                          to top,
                          var(--text-color) 4px,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat var(--window-color);
        }
        &:has(input[value="fullscreen"]) {
          background: linear-gradient(
                          to top,
                          var(--text-color) 2px,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat,
          linear-gradient(
                          to bottom,
                          var(--text-color) 4px,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat,
          linear-gradient(
                          90deg,
                          var(--text-color) 2px,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat,
          linear-gradient(
                          -90deg,
                          var(--text-color) 2px,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat var(--window-color);
        }
        &:is(button) {
          background: linear-gradient(
                          45deg,
                          #0000 43%,
                          var(--text-color) 0 57%,
                          #0000 0
          )
          50% 50% / 2ch 2ch no-repeat,
          linear-gradient(-45deg,
                          #0000 43%,
                          var(--text-color) 0 57%,
                          #0000 0
          ) 50% 50% / 2ch 2ch no-repeat var(--window-color);
        }
      }
      input[type="radio"] {
        display: none;
      }
    }
  }
  div {
    padding: 0 1ch;
    color: var(--text-color);
    overflow: auto;
  }
}

main {
  background: #008080;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  padding: 3lh;
}
