
#bluedrafon-net-installer {
  h1, h2, p {
    margin: 0;
    padding: 0;
  }
  background-color: #fff;
  color: #000;
  padding: 20px;
  width: 800px;
  border: 1px solid #fff;
  margin-right: auto;
  margin-left: auto;
  img {
    margin-right: auto;
    margin-left: auto;
  }
  div.text {
    font-family: 'courier new', fixed-width;
    font-size: small;
  }
}