RewriteEngine On
RewriteRule ^sitemap.xml$ sitemap.xml.php [L]
RewriteRule ^feed.xml$ feed.xml.php [L]


Redirect permanent /feedback/                          https://artlung.com/feedback/
Redirect permanent /board                              https://lab.artlung.com/ArtLung-Notes/v2
Redirect permanent /markov                             https://lab.artlung.com/bloggingbot
Redirect permanent /BloggingBot                        https://lab.artlung.com/bloggingbot
Redirect permanent /BLOGGINGBOT                        https://lab.artlung.com/bloggingbot
Redirect permanent /bloggingBot                        https://lab.artlung.com/bloggingbot
Redirect permanent /bug_mac_netscape_forms_update      https://lab.artlung.com/bug-mac-netscape-forms-update
Redirect permanent /change_all_links                   https://lab.artlung.com/change-all-links
Redirect permanent /compare_fields                     https://lab.artlung.com/compare-fields
Redirect permanent /detection_real                     https://lab.artlung.com/detection-real
Redirect permanent /dropdown_focus                     https://lab.artlung.com/dropdown-focus
Redirect permanent /dropdown_frames                    https://lab.artlung.com/dropdown-frames
Redirect permanent /dropdown_submit_form               https://lab.artlung.com/dropdown-submit-form
Redirect permanent /echo_http_host                     https://lab.artlung.com/echo-http-host
Redirect permanent /format_time                        https://lab.artlung.com/format-time
Redirect permanent /frames_mouseover                   https://lab.artlung.com/frames-mouseover
Redirect permanent /image_border                       https://lab.artlung.com/image-border
Redirect permanent /interesting_date_layout            https://lab.artlung.com/interesting-date-layout
Redirect permanent /mouseover_vote                     https://lab.artlung.com/mouseover-vote
Redirect permanent /mouseover_vote100                  https://lab.artlung.com/mouseover-vote100
Redirect permanent /multiple_select                    https://lab.artlung.com/multiple-select
Redirect permanent /multiple_select_v2                 https://lab.artlung.com/multiple-select-v2
Redirect permanent /reverse_string_nums                https://lab.artlung.com/reverse-string-nums
Redirect permanent /self_refresh                       https://lab.artlung.com/self-refresh
Redirect permanent /slideshow_img                      https://lab.artlung.com/slideshow-img
Redirect permanent /validate_checkbox                  https://lab.artlung.com/validate-checkbox
Redirect permanent /validate_image                     https://lab.artlung.com/validate-image
Redirect permanent /windows_export_file_list           https://lab.artlung.com/windows-export-file-list
Redirect permanent /ws_ftp_password_decoder            https://lab.artlung.com/ws-ftp-password-decoder
Redirect permanent /css/border-style                  https://lab.artlung.com/border-style


Redirect /js/ https://lab.artlung.com/

# Set a 404 page
ErrorDocument 404 /404.php



#Disallow directory browsing
Options All -Indexes
